<app-topbar></app-topbar>
<app-sidenav></app-sidenav>
<app-mobilemenu></app-mobilemenu>
<div class="main-content">
    <div class="page-content">
        <div class=" shadow-md bg-white rounded-md my-5 p-5">
            <div class="grid grid-cols-4 ">
                <div>
                    <input type="text" placeholder="Search">
                </div>
                <div>
                    <input type="text" placeholder="Select a Date Range">
                    <button class=" bg-yellow-400 px-4 py-2 ml-3 text-white shadow-lg rounded-md ">Filter</button>
                </div>
                <div>

                </div>
            </div>
        </div>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" class="w-full">

                <!-- Position Column -->
                <ng-container matColumnDef="joiningDate">
                    <th mat-header-cell *matHeaderCellDef>Joining Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.joiningDate}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="memberNumber">
                    <th mat-header-cell *matHeaderCellDef> Member Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.memberNumber}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="memberName">
                    <th mat-header-cell *matHeaderCellDef> Member Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.memberName}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="subscriptionDate">
                    <th mat-header-cell *matHeaderCellDef> Subscription Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.subscriptionDate}} </td>
                </ng-container>
                <ng-container matColumnDef="totalAmount">
                    <th mat-header-cell *matHeaderCellDef> Total Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalAmount}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>

    </div>
</div>